.fundo--img {
    position: relative;
    z-index: -1;
    height: 100vh;
    background-image: url("/assest/izabelly1.jpg"); /* Caminho corrigido */
    background-size: 80%; /* Mostra 120% da largura da imagem, reduzindo o zoom */
   
    background-position: center;
    background-repeat: no-repeat; /* Garante que a imagem não se repita */
  }
  
  .mascara {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      109deg,
      rgba(10, 12, 16, 0.99) 15%,
      rgba(10, 12, 16, 0.7) 50%,
      rgba(10, 12, 16, 0.99) 85%
    );
  }
  
  @media (max-width: 1025px) {
    .fundo--img {
      height: 50vh; /* Garante que a altura seja sempre 100% da tela no celular */
      background-size: cover; /* Faz a imagem cobrir todo o espaço disponível */
    }
  }
  