.fundo {
  margin-inline: auto;
  padding-top: 2rem; /* Ajuste para não sobrepor a imagem */
}

.fundo-sobre {
  background: linear-gradient(
    0deg,
    rgba(149, 141, 169, 1) 6%,
    rgba(149, 141, 169, 1) 9%,
    rgba(131, 139, 165, 1) 55%,
    rgba(118, 138, 162, 1) 72%
  );
  gap: 2rem; /* Ajuste no espaçamento */
  text-align: center;
  color: black;
  padding-inline: 2rem;
  margin-block: 5rem;
  padding-block: 3rem;
  display: flex; /* Alinhar em desktop */
  flex-wrap: wrap; /* Ajustar layout em dispositivos menores */
}

.fundo-sobre img {
  margin: auto;
  max-width: 100%;
  height: auto;
  border-radius: 1%;
}

.up-texte {
  color: #c774ff;
  text-transform: uppercase;
  font-weight: 500;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  color: #f3f3f3;
}

.description {
  color: #f3f3f3;
  max-width: 80ch;
  margin-inline: auto;
  text-align: left;
  font-size: 1.2rem;
}
.img-certificado,
.img-certificado2 {
  margin: auto;
  max-width: 9%; /* Reduz o tamanho para 40% da largura do container */
  height: auto; /* Mantém a proporção */
  border-radius: 1%;
}
@media (max-width: 1024px) {
  .fundo-sobre {
    flex-direction: column; /* Vertical em telas menores */
    padding-inline: 1rem;
    gap: 1rem;
  }

  .description {
    max-width: 60ch;
    font-size: 1rem;
  }

  .img-certificado {
    max-width: 80%;
  }

  .img-certificado2 {
    max-width: 70%;
  }
}
